body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form{
  display:flex;
  flex-direction:row;
}

.hero-input {
  /* Tell the input to use all the available space */
  flex-grow:2;
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
margin-bottom:30px;

}

.button{
  padding:10px;
}

#downloadLink{
  margin-top:30px;
}

.hidden{
  display:none;
}

a.search-button
{
  border-radius: 0px 30px 30px 0px;
}

a.checkout-button
{
  border-radius:30px;
  margin-top: 60px;
  width:40vw;
}

a.settings-button{
  border-radius:0px;
  width:2vw;
  background-color: rgba(204, 204, 204, 0.466);
}

div.swiper{



}

div.mySwiper{
  margin:30px;
}


div.swiper-slide img{

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  border-radius: 15%;

}
div.swiper-slide img::selection{
border:solid 5px #fff;
}

div.footer-copyright a{
  color:#000;
}
