body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form{
  display:flex;
  flex-direction:row;
}

.hero-input {
  /* Tell the input to use all the available space */
  flex-grow:2;
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
margin-bottom:30px;

}

.button{
  padding:16px;
}

#downloadLink{
  margin-top:30px;
}

.hidden{
  display:none;
}

a.search-button
{
  border-radius: 0px 30px 30px 0px;
}

a.checkout-button
{
  border-radius:30px;
  margin-top: 60px;
  width:40vw;
 

}


div.footer-copyright a{
  color:#000;
}
